body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#01B3FD;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    background-color: #FFFF;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFF;   
}
.header_foto__img{
    width: 35vh;
    height: 40vh;
}

h1 {
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}

.header_heading{
    text-align: center;
}

h2::after, .header_contacts::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #01B3FD;
    margin-top: 2rem;
}
main{
    width: 80%;
    margin: 0 auto;
    /* padding: 0; */
}
.main_goal{
    /* margin: 0 auto; */
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
.main_goal h3::after{
    content:' ';
    margin-right: .4rem;
}
.section-2{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.experience, .skills{
    width: 50%;
    margin: 0;
    padding: 0;

}
.experience h3, .skills h3{
    margin: 0;
    padding: 0;
}
.skills{
    line-height: 1.5rem;
}
footer{
    width: 100%;
    height: 3rem;
}
